#app {
  display: flex;
  height: 100vh;

  map-sidebar {
    flex: 1;
    box-shadow: -15px 0px 25px -15px #000000aa;
    z-index: 5;
  }
}

nav-map {
  overflow: hidden;

  #navmap-container {
    width: 100%;
  }

  #navmap-root {
    position: relative;
    aspect-ratio: 1;
    height: 100vh;
    background-color: #111122;
    overflow: hidden;

    .home {
      fill: rgba(255, 255, 255, 0.87);
      position: absolute;
      top: 12px;
      right: 12px;
      width: 64px;
      height: 64px;
      border-radius: 100%;
      border: none;
      padding: 0;
      background-color: #242424;
      box-shadow: 0px 0px 10px 0px #0006;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #161616;
      }

      svg {
        width: 32px;
        height: 32px;
      }
    }

    &.universe-map {
      background-image: url("http://localhost:3000/texture/navmap");
      background-size: contain;
    }

    &.system-map {
      cursor: move;
    }

    .gridline {
      background-color: #0055ff77;
      position: absolute;

      &.vertical {
        height: 100%;
        width: 2px;
      }

      &.horizontal {
        width: 100%;
        height: 2px;
      }
    }

    .pin {
      stroke: #fff;
      fill: #b33;
      position: absolute;
      z-index: 10;
      transition: all 0.2s;
      /* margin-left: -12px;
      margin-top: -20px; */
    }

    .node {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      background: none;
      border: none;
      font-size: 18px;
      z-index: 5;
      font-family: "Agency FB", sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
      backface-visibility: hidden;

      .icon {
        position: absolute;
        content: "";
        background-color: white;
        border: 1px solid transparent;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        margin-top: -7.5px;
        margin-left: -7.5px;
      }

      .label {
        position: absolute;
        width: max-content;
        max-width: 200px;
        margin-left: -7.5px;
        margin-top: 10px;
        font-size: 13px;
      }

      &:hover {
        .icon {
          border-color: #f00;
        }
      }
    }

    .connection {
      position: absolute;
      border-bottom: 1px solid;
      z-index: 5;

      &.directional {
        border-radius: 100%;
        height: 5px;

        &::before {
          content: "⇁";
          font-size: 30px;
          position: absolute;
          left: calc(50% - 10px);
          top: -20px;
        }
      }
    }

    .zone {
      position: absolute;
      border: 1px solid transparent;
      border-radius: 100%;
      cursor: pointer;
      z-index: 3;

      &:hover {
        border-color: #fff !important;
      }

      &[data-properties*="ROCK"],
      &[data-properties*="ICE"],
      &[data-properties*="LAVA"],
      &[data-properties*="NOMAD"],
      &[data-properties*="CRYSTAL"],
      &[data-properties*="DEBRIS"] {
        background-image:
          linear-gradient(135deg, #8888 25%, transparent 25%),
          linear-gradient(225deg, #8888 25%, transparent 25%),
          linear-gradient(45deg, #8888 25%, transparent 25%),
          linear-gradient(315deg, #8888 25%, #0000 25%);
        background-position:
          10px 0,
          10px 0,
          0 0,
          0 0;
        background-size: 10px 10px;
        background-repeat: repeat;
      }

      &[data-properties*="GAS_POCKETS"] {
        background:
          radial-gradient(circle, #8888 25%, transparent 26%),
          radial-gradient(circle at bottom left, #8888 12%, transparent 13%),
          radial-gradient(circle at bottom right, #8888 12%, transparent 13%),
          radial-gradient(circle at top left, #8888 12%, transparent 13%),
          radial-gradient(circle at top right, #8888 12%, transparent 13%);
        background-size: 1em 1em;
        background-color: #00000000;
        opacity: 1;
      }

      &[data-properties*="MINES"] {
        background: radial-gradient(
          #8888 10%,
          transparent 10%,
          transparent 39%,
          #8888 40%,
          #8888 45%,
          transparent 46%
        );
        background-size: 1em 1em;
        background-color: #00000000;
        opacity: 1;
      }

      &[data-properties*="EXCLUSION1"],
      &[data-properties*="EXCLUSION2"] {
        border-width: 0;
        pointer-events: none;
        backdrop-filter: brightness(60%);
      }

      &[data-properties*="LOOTABLE"] {
        background-image:
          linear-gradient(135deg, #daa52080 25%, transparent 25%),
          linear-gradient(225deg, #daa52080 25%, transparent 25%),
          linear-gradient(45deg, #daa52080 25%, transparent 25%),
          linear-gradient(315deg, #daa52080 25%, #0000 25%);
      }
    }
  }

  .navmap-root[data-theme="freelancer"] {
    .node {
      .icon {
        /* border-color: transparent;
        background-color: transparent; */
        background-size: contain;
      }

      &[data-type="base"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/spritesheet5_1.png");
          background-position: -32px -64px;
          background-size: unset;
          width: 32px;
          height: 32px;
          margin-top: -16px;
          margin-left: -7.5px;
        }
      }

      &[data-type*="surprise_"],
      &[data-archetype*="suprise_"],
      &[data-archetype*="sleeper_ship"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          width: 12px;
          height: 12px;
          margin-top: -6px;
          margin-left: -6px;
          background-image: url("/img/surprisex.png");
        }
      }

      &[data-archetype*="jumpgate"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/jumpgate.png");
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -12px;
        }
      }

      &[data-archetype*="jumphole"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/jumphole.png");
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -12px;
        }
      }

      &[data-archetype*="wplatform"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/weaponplatform.png");
          background-size: contain;
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -7.5px;
        }

        .label {
          display: none;
        }
      }

      &[data-archetype*="planet"]:not([data-archetype*="wplatform"]) {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/spritesheet5_1.png");
          background-position: 0 0;
          background-size: unset;
          width: 32px;
          height: 32px;
          margin-top: -16px;
          margin-left: -16px;
        }
      }

      &[data-type="base"][data-archetype*="planet"] {
        .icon {
          background-position-x: -32px;
        }
      }

      &[data-archetype*="sun"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/spritesheet5_1.png");
          background-position: -64px -64px;
          background-size: unset;
          width: 64px;
          height: 64px;
          margin-top: -32px;
          margin-left: -7.5px;
          transform: scale(0.5);
        }
      }

      &[data-archetype*="depot"],
      &[data-archetype*="space_tank"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/lootabledepot.png");
          background-size: contain;
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -7.5px;
        }

        .label {
          display: none;
        }
      }

      &[data-archetype*="docking_fixture"],
      &[data-archetype*="dock_ring"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/dockingring.png");
          background-size: contain;
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -7.5px;
        }

        .label {
          display: none;
        }
      }

      &[data-type="base"][data-archetype*="liner"],
      &[data-type="base"][data-archetype*="dreadnought"],
      &[data-type="base"][data-archetype*="battleship"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/smallspacestation.png");
          background-size: contain;
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -7.5px;
        }
      }

      &[data-type="base"][data-archetype*="largestation"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/largestation.png");
          background-size: contain;
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -7.5px;
        }
      }

      &[data-type="base"][data-archetype*="depot"],
      &[data-type="base"][data-archetype*="miningbase"],
      &[data-type="base"][data-archetype*="space_port"] {
        .icon {
          border-color: transparent;
          background-color: transparent;
          background-image: url("/img/depot.png");
          background-size: contain;
          background-position: center center;
          width: 24px;
          height: 24px;
          margin-top: -12px;
          margin-left: -7.5px;
        }
      }
    }

    .zone {
      &[data-properties*="NEBULA"] {
        background-image: url("/img/dustcloud.png");
        background-blend-mode: multiply;
        /* filter: brightness(0.5); */
        border-width: 0;
      }

      &[data-properties*="ICE"] {
        background-image: url("/img/terrain_ice.png");
        background-repeat: repeat;
      }

      &[data-properties*="ROCK"] {
        background-image: url("/img/asteroidtest.png");
        background-repeat: repeat;
      }

      &[data-properties*="DEBRIS"] {
        background-image: url("/img/terrain_debris.png");
        background-repeat: repeat;
      }

      &[data-properties*="NOMAD"] {
        background-image: url("/img/terrain_nomadast.png");
        background-repeat: repeat;
      }

      &[data-properties*="LAVA"] {
        background-image: url("/img/terrain_lava.png");
        background-repeat: repeat;
      }

      &[data-properties*="MINES"] {
        background-image: url("/img/terrain_mines.png");
        background-repeat: repeat;
      }
    }
  }
}

map-sidebar {
  height: 100vh;
  min-width: 300px;
  background-color: #242424;
  padding: 0 12px;
  display: block;

  search-box,
  object-details {
    display: block;
  }

  .sidebar-root {
    width: 100%;
    height: 100%;
    position: relative;

    #search-container {
      width: 100%;
      position: absolute;
      left: calc(100% + 16px + 12px);
      top: 12px;

      input[type="search"] {
        border-radius: 8px;
        padding: 8px;
        width: 250px;

        &:has(+ #result-set) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      #result-set {
        width: 250px;
        margin-top: 8px;
        background-color: #242424;
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0px 0px 10px 0px #000a;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        button {
          background: none;
          border: none;
          text-align: start;
          cursor: pointer;
          width: 100%;
          padding: 8px;

          &:hover {
            background-color: #08f5;
          }

          small {
            display: block;
          }
        }

        .status {
          color: rgba(255, 255, 255, 0.5);
          padding: 8px;
          font-size: 13px;
          display: block;
        }
      }
    }

    .back {
      fill: rgba(255, 255, 255, 0.87);
      position: absolute;
      top: 12px;
      left: 0;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: none;
      padding: 0;
      background-color: #242424;
      box-shadow: 0px 0px 10px 0px #0006;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #161616;
      }
    }

    .title {
      display: flex;
      align-items: center;

      h1 {
        margin: 0;
      }

      .jump {
        border: none;
        background: none;
        cursor: pointer;
        margin-bottom: -6px;
        margin-left: 8px;
        stroke: rgba(255, 255, 255, 0.5);

        &:hover {
          stroke: rgba(255, 255, 255, 0.87);
        }
      }
    }

    object-details {
      height: 100%;
    }

    #details-root {
      height: 100%;
      display: flex;
      flex-direction: column;

      .banner {
        margin: 8px -12px 0 -12px;
        padding: 8px 12px;
        line-height: 1.2;

        &.critical {
          background-color: #ce2323;
          color: #fff;
        }

        &.warning {
          background-color: #ce7423;
          color: #fff;
        }

        &.success {
          background-color: #329e12;
          color: #fff;
        }
      }

      .preview {
        margin: 0 -12px 8px -12px;

        .icon-placeholder {
          width: 100%;
          height: 200px;
          background-color: #363636;

          svg {
            stroke: #484848;
            &.fill {
              fill: #484848;
            }
            width: 100%;
            height: 100%;
            padding: 12px;
          }
        }
      }

      .tabs {
        margin: 12px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;

        button {
          background: none;
          border: none;
          padding: 8px 12px;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          transition: border-color 0.2s;

          &.active {
            border-color: #08f5;
            background-color: #0002;
          }

          &:hover {
            border-color: #08f5;
          }
        }
      }

      tab-host {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
      }

      .dynamic-container {
        overflow-y: auto;
        flex: 1 1 0;
        margin-right: -12px;
        padding-right: 12px;
      }
    }
  }
}
