@font-face {
  font-family: "Agency FB";
  src: url("/agencyfbv2.eot");
  src:
    url("/agencyfbv2.eot") format("embedded-opentype"),
    url("/agencyfbv2.woff2") format("woff2"),
    url("/agencyfbv2.woff") format("woff"),
    url("/agencyfbv2.ttf") format("truetype"),
    url("/agencyfbv2.svg#Agency FB V2") format("svg");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #8c8cff;

  &:visited {
    color: #ffadff;
  }
}

#root {
  height: 100vh;
}

button {
  border: none;
  color: #ffffffde;
  background-color: #2f2f2f;
  cursor: pointer;
  padding: 8px 12px;

  &:hover {
    background-color: #1d3850;
  }
}

button.secondary {
  background-color: transparent;
  border: 1px solid #2f2f2f;

  &:hover {
    border: 1px solid #1d3850;
    color: #08f;
  }
}

button.danger {
  &:hover {
    background-color: #361818;
  }
}

button.disabled {
  cursor: not-allowed;
  background: #282828;
  color: #ffffff67;
}

button.multiselect {
  position: relative;
  border: none;
  color: #ffffffde;
  background-color: #2f2f2f;
  cursor: pointer;
  padding: 0 8px;

  &::after {
    content: "⌃";
    transform: scaleY(-1);
    width: 16px;
    height: 14px;
    text-align: start;
    padding-left: 8px;
    display: inline-block;
  }
}

.options[role="listbox"] {
  background-color: #2f2f2f;

  &.multiselect {
    .option {
      &::before {
        content: " ";
        display: inline-block;
        width: 18px;
      }
      &[aria-selected="true"]::before {
        content: "✓";
        display: inline-block;
        width: 18px;
      }
    }
  }

  .option {
    cursor: pointer;
    padding: 4px 8px;
    min-width: 150px;

    &:hover {
      background-color: #08f3;
    }
  }
}
