@keyframes blink {
  0% {
    opacity: 1;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.loadouts {
  height: 100%;
  flex: 1;
  background-color: #242424;
  position: relative;
  padding: 8px;

  .player {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;

    .loadout {
      display: flex;
      flex-direction: column;
      flex: 0 0 300px;
      height: 100%;

      .ship {
        height: 48px;
        margin-bottom: 6px;
        width: 100%;
        cursor: pointer;
        border: 1px solid #444444;
        background: none;
        padding: 8px;
        font-size: 100%;
        font-weight: 600;
        &:hover {
          border-color: #dadada;
        }
        &.placeholder {
          color: #888888;
        }
      }

      .equipment {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 6px;
        overflow-y: auto;

        .hardpoint {
          border: 1px solid #444444;
          &:hover {
            border-color: #dadada;
          }
          &.active {
            border-color: #ffffff;
          }
          &.pending {
            & > button {
              animation: 1.5s infinite forwards blink;
            }
          }

          & > button {
            background: none;
            border: none;
            padding: 4px 8px;
            margin: 0;
            width: 100%;
            text-align: left;
            cursor: pointer;
            font-size: 100%;
            height: 46px;

            .name {
              /* height: 32px; */
            }

            .caption {
              font-size: 80%;
            }
          }
        }
      }
    }

    .stats {
      border: 1px solid #444444;
      margin: 0;
      padding: 8px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 350px;

      h3 {
        margin: 0;
        height: 38px;
      }

      hr {
        color: #444444;
        width: 100%;
      }

      li {
        line-height: 23.5px;
      }

      .delta {
        &.positive {
          color: #0f0;
        }
        &.negative {
          color: #f00;
        }
        &.neutral {
          color: #fb8;
        }
      }
    }
  }

  .drawer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    background-color: #2f2f2f;
    height: 100%;
    border-left: 1px solid #444444;

    .actions {
      position: absolute;
      top: 4px;
      left: -32px;
      display: flex;
      flex-direction: column;

      .action {
        position: relative;
        border: none;
        background: #2f2f2f;
        padding: 0;
        margin: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(.disabled) {
          cursor: pointer;
        }
        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }

        &.accept {
          font-size: 120%;
          &:hover:not(.disabled)::after {
            color: #6f6;
          }

          &::after {
            position: absolute;
            content: "✓";
            top: 2px;
          }
        }

        &.close {
          font-size: 160%;
          &:hover::after {
            color: #f66;
          }

          &::after {
            position: absolute;
            content: "×";
            top: -1px;
          }
        }
      }
    }

    .detail {
      flex: 1;
      overflow-y: auto;

      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #888888;
        user-select: none;
      }
    }

    .search {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      input[type="search"] {
        width: 100%;
        padding: 8px 4px 8px 12px;
        border: none;
        background: #2f2f2f;
        color: #ffffff;
        flex-shrink: 0;
      }

      .list {
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
        min-height: 0;
        overflow-y: auto;

        button.row {
          background: none;
          border: none;
          padding: 4px 4px 4px 12px;
          margin: 0;
          width: 100%;
          text-align: left;
          cursor: pointer;
          display: table-row;

          &.active {
            background: #08f5;
          }

          &:not(.active):hover {
            background: #08f3;
          }

          .name {
            display: table-cell;
            .caption {
              font-size: 80%;
            }
          }
        }
      }
    }
  }
}
